<div class="container mt-4">
    <div class="jumbotron" style="position: relative;">
       <h1 class="display-5" style="text-align: center;">PROMENA LOZINKE</h1>
       <hr class="my-4">
       <form class="form my-2 my-lg-0">
        <input [(ngModel)]='password' name="password" id="passwdField" class="form-control mr-sm-2" type="password" placeholder="OLD PASSWORD" >
        <br/>
        <input [(ngModel)]='newpassword' name="newpassword" id="passwdFieldNew" class="form-control mr-sm-2" type="password" placeholder="NEW PASSWORD" >
        <br/>
        <input [(ngModel)]='newpasswordrepeat' name="newpasswordrepeat" id="newpasswordrepeat" class="form-control mr-sm-2" type="password" placeholder="REPEAT NEW PASSWORD" >
        <br/>
        <button id="loginButton" type="submit" class="btn btn-warning" style=" display: block; margin: 0 auto;" (click)='changePassword()'>Promeni lozinku!</button>
        <br/>
        <span style=" text-align:center; display: block; margin: 0 auto; color: red;">
            {{poruka}}
        </span>
      </form>
     
    </div>
</div>