<div class="container mt-4">
  <div class="jumbotron" style="position: relative;">
     <h1 class="display-10" style="text-align: center;">REGISTRACIJA</h1>
     <hr class="my-4">
     <form class="form my-2 my-lg-0">
      <input [(ngModel)]="ime" name="ime" id="ime" class="form-control mr-sm-2" type="text" placeholder="IME" >
      <br/>
      <input [(ngModel)]="prezime" name="prezime" id="prezime" class="form-control mr-sm-2" type="text" placeholder="PREZIME" >
      <br/>
      <input [(ngModel)]="username" name="username" id="username" class="form-control mr-sm-2" type="text" placeholder="USERNAME" >
      <br/>
      <input [(ngModel)]="password"  name="password" id="password" class="form-control mr-sm-1" type="password" placeholder="PASSWORD" >
      <br/>
      <input [(ngModel)]='passwordConfirm' name="passwordConfirm" id="passwordConfirm" class="form-control mr-sm-1" type="password" placeholder="PASSWORD CONFIRM" >
      <br/>
      <input name="slika" type="file" class="form-control" id="slika" (change)="appendImageToSlikaProp($event.target.files)">
      <br/>
      <input [(ngModel)]="mail"  name="mail" id="mail" class="form-control mr-sm-1" type="text" placeholder="MAIL" >
      <br/>
      <input [(ngModel)]="grad"  name="grad" id="grad" class="form-control mr-sm-1" type="text" placeholder="GRAD" >
      <br/>
      <input [(ngModel)]="drzava" name="drzava" id="drzava" class="form-control mr-sm-1" type="text" placeholder="DRZAVA" >
      <br/>
      <button id="loginButton" type="submit" class="btn btn-warning" style=" display: block; margin: 0 auto;" (click)='register()'>KREIRAJ NALOG</button>
      <br/>
      <span style=" text-align:center; display: block; margin: 0 auto; color: red;">
          {{poruka}}
      </span>
    </form>
   
  </div>
</div>